.container {
  width: 1000px;
  background-color: #fff9f9cc;
  box-shadow: 0 15px 30px rgba(22, 21, 36, 0.097);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  color: black;
  backdrop-filter: blur(5px);
  filter: brightness(100%);
}

.textInformation {
  display: flex;
  flex-direction: column;
  /* box-sizing: border-box */
  width: 100%;
  margin: 20px 15px 20px 20px;
}

.informationHeader {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
}

.name {
  font-size: 30px;
  margin: 0;
}
.engName {
  margin: 0;
}
.scores {
  margin-top: 10px;
}
.imdbScore {
  display: flex;
  box-sizing: border-box;
  width: 100px;
  height: 50px;
}

.kpScore {
  display: flex;
  box-sizing: border-box;
  width: 100px;
  height: 50px;
}



#imdbLogo {
  width: 50px;
}

#kpLogo {
  width: 25px;
  margin: 5px;
}

.imbdScoreValue {
  padding: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kpScoreValue {
  padding: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filmInformation {
  display: grid;
  grid-template-areas:
    "prodYear prodYear-value"
    "genre genre-value"
    "producer producer-value"
    "budget budget-value"
    "premiere premiere-value"
    "length length-value";
    font-size: 18px;
}

video {
  border-radius: 10px;
  margin-top: 10px;
}
.pictureImg {
  border-radius: 10px;
  max-width: 300px;
}

.modalWindow {
  position: fixed; /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.426);

}

.exit {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 15px;
  font-size: 25px;
  height: 30px;
  cursor: pointer;
}

.shortDescription{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    /* align-self: flex-end; */
    justify-content: flex-end;

    margin-top: 50px;
}
.descTitle{
    font-size: 24px;
    margin-bottom: 10px;
}
.descValue{
    font-size: 18px;
}